.modal-container {
  color: gray;
}

.modal-title {
  font-weight: bold;
  font-size: 18px;
}

.modal-content {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.modal-content p {
  margin-bottom: 15px;
}

.end-buttons {
  gap: 10px;
}

.button-secondary {
  border: 1px solid;
}
