<mat-toolbar [class.mat-elevation-z8]="true">
    <h1 class="title" (click)="redirect()">K-lendar</h1>
    <div>
        <mat-tab-group (selectedTabChange)=selectTab($event) [(selectedIndex)]="index" class="header-tab">
            <mat-tab *ngFor="let tab of tabs" label="{{tab.description}}" class="tab"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="user" [matMenuTriggerFor]="menu">
        <div class="user-data">
            <div class="name">{{nameLastName}}</div>
            <div class="email">{{email}}</div>
        </div>
        <span class="icon-user"><mat-icon class="icon" [ngStyle]="{'color':'#2ec4b6'}">account_circle</mat-icon></span>
    </div>
    <mat-menu #menu="matMenu" class="container-logout">
        <div mat-menu-item (click)='logout()'>
            <div class="logout">Logout<mat-icon class="logout">logout</mat-icon></div>
        </div>
    </mat-menu>
</mat-toolbar>
