<div class="modal-container">
    <h2 class="title">Edit Truancy</h2>
    <form [formGroup]="formTruancy" class="form">

        <div class="mt-15">
            <div>Subject</div>
            <mat-select formControlName="moduleId" [(ngModel)]="selectOptionSubject" (selectionChange)="selectModule($event.value)">
                <mat-option *ngFor="let subject of subjects" [value]="subject._id">{{subject.name}}</mat-option>
            </mat-select>
            <div *ngIf="formTruancy.get('subject')?.invalid && formTruancy.get('subject')?.touched" class="error">
                <div *ngIf="formTruancy.get('subject')?.errors?.['required']">
                    Subject is required
                </div>
            </div>
        </div>

        <div class="mt-15">
            <div *ngIf="formTruancy.get('subject')?.value!==''">UF</div>
            <mat-select formControlName="ufId" *ngIf="formTruancy.get('subject')?.value!==''" [(ngModel)]="selectOptionUf" (selectionChange)="selectUf($event.value)">
                <mat-option *ngFor="let uf of ufs" [value]="uf._id">{{uf.name}}</mat-option>
            </mat-select>
            <div *ngIf="formTruancy.get('UF')?.invalid && formTruancy.get('subject')?.value!=='' && formTruancy.get('UF')?.touched" class="error">
                <div *ngIf="formTruancy.get('UF')?.errors?.['required']">
                    UF is required
                </div>
            </div>
            <div *ngIf="this.emptyUfs && formTruancy.get('subject')?.value!==''">
                UFs not found in this module, create one and try again.
            </div>
        </div>

        <div class="mt-15">
            <div>Hours</div>
            <input formControlName="hours" type="number" min="0">
            <div *ngIf="formTruancy.get('hours')?.invalid && formTruancy.get('hours')?.touched" class="error">
                <div *ngIf="formTruancy.get('hours')?.errors?.['required']">
                    Hours of truancy is required
                </div>
            </div>
        </div>

        <div class="mt-15">
            <div>Reasons</div>
            <input formControlName="reason" type="text">
        </div>

    </form>
    <div class="end-buttons">
        <button class="submit-button" mat-raised-button (click)="editTruancy()">Save</button>
        <button mat-raised-button mat-dialog-close class="cancel-button" (click)="deleteTruancy()">Delete</button>
        <button mat-raised-button mat-dialog-close class="cancel-button">Cancel</button>
    </div>
</div>
