<mat-card class="container">
    <mat-card-title>New UF</mat-card-title>
    <form [formGroup]="UFForm">
        <h1>Title</h1>
        <input formControlName="title" type="text" id="title">
        <h1 [formGroup]="rulesAndPercentages">Rules
            <h2 for="name">Name</h2>
            <input formControlName="rule" id="name" type="text">
            <h2 for="percentage">Percentage</h2>
            <input formControlName="percentage" id="percentage" type="text">
        </h1>
        <button (click)="addRule()">Add Rule</button>
        <table *ngIf="UFForm.get('rulesAndPercentages')?.value.length>0">
            <tr>
                <th>Rule</th>
                <th>Percentage</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let rule of UFForm.get('rulesAndPercentages')?.value">
                <th>{{rule.rule}}</th>
                <th>{{rule.percentage}}</th>
                <th>
                    <button mat-mini-fab (click)="deleteRule(rule)"><mat-icon>delete</mat-icon></button>
                </th>
            </tr>
        </table>
        <h1>Total hours</h1>
        <input formControlName="totalHours" type="text">
        <h1>Truancy Percentage</h1>
        <input formControlName="truancyPercentage" type="text">
        <div class="end-buttons">
            <button class="submit-button" mat-raised-button (click)="addUf()">Save</button>
            <button mat-raised-button mat-dialog-close class="cancel-button">Cancel</button>
        </div>
    </form>
</mat-card>