.background{
    background-color: rgb(28, 241, 170);
    width: 100%;
    height: 100%;
}


.login{
    color: gray !important;
}

.img-login{
    padding-left:30%;
}

.container{
    width:20%;
    position: absolute;
    top: 35%;
    left: 40%;
    background-color: white !important;
    align-content: center;
}
