<div [formGroup]="subjectForm" class="form-subject">
    <h2 *ngIf="data===null">New Subject</h2>
    <h2 *ngIf="data!==null">Edit Subject</h2>
    <div>Name</div>
    <input matInput formControlName="name">
    <div *ngIf="subjectForm.get('name')?.invalid && subjectForm.get('name')?.touched" class="error">
        <div *ngIf="subjectForm.get('name')?.errors?.['required']">
            Name is required
        </div>
    </div>
    <div formGroupName="checkColor">Color
        <div  class="color-buttons">
            <div *ngFor="let color of colors">
                <button (click)="subjectForm.get('checkColor')?.get('option')?.setValue(color.value);"
                type="button" class="subject-color-button" [ngStyle]="{'background-color':color.value, 'border-color': subjectForm.get('checkColor')?.get('option')?.value===color.value ? '#FF9F1C' : 'white', 'border-width': subjectForm.get('checkColor')?.get('option')?.value===color.value ? '3px' : '0px'}"></button>
            </div>
        </div>
    </div>
    <div *ngIf="subjectForm.get('checkColor')?.invalid && subjectForm.get('checkColor')?.touched" class="error">
        You need to select a color
    </div>
    <div class="end-buttons">
        <button class="submit-button" (click)="createNewSubject()">Save</button>
        <button mat-dialog-close class="cancel-button">Cancel</button>
    </div>
    <div class="error" *ngIf="error">
        {{error}}
    </div>
</div>
