.subject-color-button{
    height: 50px;
    width: 50px;
}
button{
    margin-top: 10px;
    margin-right: 5px;
    margin-left:5px;
}
.color-buttons{
    display: flex;
}

.subject-color-button{
    border-radius: 10px;
}

