<div class="modal-container">
    <h2 class="title">Edit Task</h2>
    <form [formGroup]="formTask" class="form">

        <div class="mt-15">
            <div>Subject</div>
            <mat-select formControlName="moduleId" [(ngModel)]="selectOptionSubject" (selectionChange)="selectModule($event.value)">
                <mat-option *ngFor="let subject of subjects" [value]="subject._id">{{subject.name}}</mat-option>
            </mat-select>
            <div *ngIf="formTask.get('subject')?.invalid && formTask.get('subject')?.touched" class="error">
                <div *ngIf="formTask.get('subject')?.errors?.['required']">
                    Subject is required
                </div>
            </div>
        </div>

        <div class="mt-15">
            <div *ngIf="formTask.get('subject')?.value!==''">UF</div>
            <mat-select formControlName="ufId" *ngIf="formTask.get('subject')?.value!==''" [(ngModel)]="selectOptionUf" (selectionChange)="selectUf($event.value)">
                <mat-option *ngFor="let uf of ufs" [value]="uf._id">{{uf.name}}</mat-option>
            </mat-select>
            <div *ngIf="formTask.get('UF')?.invalid && formTask.get('subject')?.value!=='' && formTask.get('UF')?.touched" class="error">
                <div *ngIf="formTask.get('UF')?.errors?.['required']">
                    UF is required
                </div>
            </div>
            <div *ngIf="this.emptyUfs && formTask.get('subject')?.value!==''">
                UFs not found in this module, create one and try again.
            </div>
        </div>

        <div class="mt-15">
            <div *ngIf="formTask.get('subject')?.value!==''">Rule</div>
            <mat-select formControlName="ruleId" *ngIf="formTask.get('UF')?.value!==''" [(ngModel)]="selectOptionRule">
                <mat-option *ngFor="let rule of rules" [value]="rule._id">{{rule.title}}</mat-option>
            </mat-select>
            <div *ngIf="formTask.get('rule')?.invalid && formTask.get('UF')?.value!=='' && formTask.get('rule')?.touched" class="error">
                <div *ngIf="formTask.get('rule')?.errors?.['required']">
                    Rule is required
                </div>
            </div>
        </div>

        <div class="mt-15">
            <div>Title</div>
            <input formControlName="name" type="text">
            <div *ngIf="formTask.get('name')?.invalid && formTask.get('name')?.touched" class="error">
                <div *ngIf="formTask.get('name')?.errors?.['required']">
                    Title is required
                </div>
            </div>
        </div>

        <div class="mt-15">
            <div>Description</div>
            <input formControlName="description" type="text">
        </div>

        <div class="mt-15">
            <mat-slide-toggle id="gradeCheckbox" formControlName="done" (change)="finishedTask()"></mat-slide-toggle>
            <label for="gradeCheckbox">Task finished?</label>
        </div>

        <div class="mt-15">
            <div *ngIf="!disabled">Mark</div>
            <input formControlName="grade" type="number" min="0" max="10" id="Grade" *ngIf="!disabled">
        </div>

    </form>
    <div class="end-buttons">
        <button class="submit-button" mat-raised-button (click)="editTask()">Save</button>
        <button mat-raised-button mat-dialog-close class="cancel-button" (click)="deleteTask()">Delete</button>
        <button mat-raised-button mat-dialog-close class="cancel-button">Cancel</button>
    </div>
</div>
