<app-header (activeTab)="selectTab($event)"></app-header>
<div class="container subject-header box-shadow">
  <mat-card class="card">
      <mat-card-title>Manage subjects</mat-card-title>
      <button class="add-subject-btn" mat-raised-button (click)="openNewSubjectModal()">New Subject</button>
  </mat-card>
</div>
<div class="container">
    <div class="subject-container" *ngFor="let subject of subjects">
        <mat-card class="card subject-card">
            <mat-card-title>{{subject.name}}</mat-card-title>
            <div class="buttons">
                <button mat-fab class="header-icon" (click)="openNewUfModal()"><mat-icon>add</mat-icon></button>
                <button mat-fab class="header-icon" (click)="openEditSubjectModal(subject)"><mat-icon>edit</mat-icon></button>
                <button mat-fab class="header-icon" (click)="deleteSubject(subject)"><mat-icon>archive</mat-icon></button>
            </div>
        </mat-card>
        <app-subject-with-uf [subjectInfo]="subject"></app-subject-with-uf>
    </div>
</div>
