.card{
    color: grey;
    background: white;
    display: flex;
    justify-content: space-between;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}
.buttons{
    display: flex;
  justify-content: space-between;
  width: 30%;
}
.subject-container{
    margin-bottom: 50px;
}
button{
    background-color: #FF9F1C !important;
}


@media only screen and (max-width: 600px) {
  .buttons {
    gap: 15px;
  }

}

@media only screen and (max-width: 350px) {
  .subject-header .mat-card .mat-card-title {
    font-size: 20px;
  }
}

