.card{
    color: grey;
    background: white;
    display: flex;
    justify-content: space-between;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
}
.button{
    background-color: orange;
}
