
input{
    width:100%;
}

table{
    width: 100%;
}


button{
    margin-top: 10px;
    margin-right: 5px;
    margin-left:5px;
}
.submit-button{
    width: 89px;
    height: 40px;
    margin: 33px 10px 0 17px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    border: 0px;
    background-color: #ff9f1c;
    cursor: pointer;
}
button{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cancel-button{
    width: 89px;
    font-size: 12px;
    height: 40px;
    margin: 33px 0 0 10px;
    border-radius: 4px;
    border: solid 1px #ff9f1c;
    background-color: #f5f5f5 !important;
    cursor: pointer;
}

.form-subject{
    background-color: white;
    width: 400px;
    color: #5f6368;
    font-size: 16px;
    font-weight: 500;
}
input{
    width:95%;
    line-height:25px;
    border-radius: 4px;
    border: solid 1px #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:1% 0% 1% 3%;
    font-size: 16px;
}
.mat-card{
    background-color: white !important;
}
.add-button{
    width: 90px;
    height: 35px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    border: 0px;
    background-color: #ff9f1c;
    cursor: pointer;
}
th{
    button{
        background-color: #ff9f1c !important;
    }
}