<mat-card>
    <mat-card-title>Edit UF</mat-card-title>
    <form [formGroup]="formTask">
        <h1>Subject</h1>
        <mat-select formControlName="subject" (selectionChange)="selectSubject($event.value)" value="{{data.subject}}">
            <mat-option *ngFor="let subject of dataSubjects" [value]="subject.name">{{subject.name}}</mat-option>
        </mat-select>
        <h1 *ngIf="formTask.get('subject')?.value!==''">UF</h1>
        <mat-select formControlName="UF" *ngIf="formTask.get('subject')?.value!==''" (selectionChange)="selectUF($event.value)">
            <mat-option *ngFor="let UF of subjectSelected.UFs" [value]="UF.value">{{UF.value}}</mat-option>
        </mat-select>
        <h1 *ngIf="formTask.get('UF')?.value!==''">Type</h1>
        <mat-select formControlName="type" *ngIf="formTask.get('UF')?.value!==''">
            <mat-option *ngFor="let type of UFSelected.events" [value]="type">{{type}}</mat-option>
        </mat-select>
        <h1>Title</h1>
        <input formControlName="title" type="text">
        <div></div>
        <input type="checkbox" id="gradeCheckbox" (change)="finishedTask()">
        <label for="gradeCheckbox">Task finished?</label>
        <h1>Grade</h1>
        <input formControlName="grade" type="number" min="0" max="10" id="Grade">
    </form>
    <div class="end-buttons">
        <button class="submit-button" mat-raised-button (click)="editTask()">Save</button>
        <button mat-raised-button mat-dialog-close class="cancel-button">Delete</button>
        <button mat-raised-button mat-dialog-close class="cancel-button">Cancel</button>
    </div>
</mat-card>