.uf-container{
    margin-left: 25px;
    margin-right: 25px;
    margin-top:5px;
}
.buttons{
    display: flex;
  justify-content: space-between;
  width: 100px;
}
button{
    background-color: #FF9F1C !important;
}