.subject-color-button{
    height: 50px;
    width: 50px;
}
button{
    margin-top: 10px;
    margin-right: 5px;
    margin-left:5px;
}
.color-buttons{
    display: flex;
}

.subject-color-button{
    border-radius: 10px;
}

.end-buttons{
    display: flex;
    justify-content: end;
}

.cancel-button{
    border-color: #FF9F1C;
    background-color: grey;
    color: #FF9F1C;
}

.submit-button{
    background-color: #FF9F1C;
}