<div class="modal-container">
    <mat-tab-group>
        <mat-tab label="Task">
            <form [formGroup]="formTask" class='form'>
                <h2>Subject</h2>
                <mat-select formControlName="subject" (selectionChange)="selectSubject($event.value)">
                    <mat-option *ngFor="let subject of subjects" [value]="subject._id">{{subject.name}}</mat-option>
                </mat-select>
                <h2 *ngIf="formTask.get('subject')?.value!==''">UF</h2>
                <mat-select formControlName="UF" *ngIf="formTask.get('subject')?.value!==''" (selectionChange)="selectUF($event.value)">
                    <mat-option *ngFor="let uf of ufs" [value]="uf._id">{{uf.name}}</mat-option>
                </mat-select>
                <h2 *ngIf="formTask.get('UF')?.value!==''">Type</h2>
                <mat-select formControlName="type" *ngIf="formTask.get('UF')?.value!==''" (selectionChange)="selectRule($event.value)">
                    <mat-option *ngFor="let rule of rules" [value]="rule._id">{{rule.title}}</mat-option>
                </mat-select>
                <h2>Title</h2>
                <input formControlName="title" type="text" (change)="getTitle()">
                <h2>Description</h2>
                <input formControlName="description" type="text" (change)="getDescription()">
            </form>
            <div class="end-buttons">
                <button class="submit-button" mat-raised-button (click)="createNewTask()">Save</button>
                <button mat-raised-button mat-dialog-close class="cancel-button">Cancel</button>
            </div>
        </mat-tab>
        <mat-tab label="Truancy">
            <form [formGroup]="formTruancy" class="form">
                <h2>Subject</h2>
                <mat-select formControlName="subject" (selectionChange)="selectSubjectTruancy($event.value)">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.name">{{subject.name}}</mat-option>
                </mat-select>
                <h2 *ngIf="formTruancy.get('subject')?.value!==''">UF</h2>
                <mat-select formControlName="UF" *ngIf="formTruancy.get('subject')?.value!==''" >
                    <mat-option *ngFor="let UF of subjectSelectedTruancy.UFs" [value]="UF.value">{{UF.value}}</mat-option>
                </mat-select>

                <h2>Hours</h2>
                <input formControlName="hours" type="number" min="0">
                <h2>Reasons</h2>
                <input formControlName="reason" type="text">
            </form>
            <div class="end-buttons">
                <button class="submit-button" mat-raised-button (click)="createNewTruancy()">Save</button>
                <button mat-raised-button mat-dialog-close class="cancel-button">Cancel</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

