/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.card{
    color: grey;
    background: white;
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 5px;
}